doctype html
html
  head
    title Simple Blog

    
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    block head
  body
      block body

      script(src="bower_components/jquery/jquery.min.js")
      script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
